body{
    background-color: #94A3B8;
}
.MuiCardContent-root{
    height: 200px;
    color:white;
    background-color: black;
}
.MuiCardMedia-img{
    object-fit: cover;
}
.book{
    background-color: black;
}